<?xml version="1.0" encoding="UTF-8"?>
<!-- Hadoop 层（Paimon FlinkFileIO 之外的 Iceberg HadoopFileIO / sql-client batch 读写）-->
<configuration>
{% if flink_oss_mode == 'jindo' %}
  <property><name>fs.oss.endpoint</name><value>{{ oss_dls_endpoint }}</value></property>
  <property><name>fs.oss.impl</name><value>com.aliyun.jindodata.oss.JindoOssFileSystem</value></property>
  <property><name>fs.AbstractFileSystem.oss.impl</name><value>com.aliyun.jindodata.oss.OSS</value></property>
  <property><name>fs.oss.provider.endpoint</name><value>ECS_ROLE</value></property>
  <property><name>fs.oss.provider.format</name><value>JSON</value></property>
{% else %}
  <!-- plugin 回退（adtrader 方案F2）：全局普通 OSS + 湖仓桶 bucket 级 dls 路由 -->
  <property><name>fs.oss.endpoint</name><value>{{ oss_internal_endpoint }}</value></property>
  <property><name>fs.oss.impl</name><value>com.aliyun.jindodata.oss.JindoOssFileSystem</value></property>
  <property><name>fs.AbstractFileSystem.oss.impl</name><value>com.aliyun.jindodata.oss.OSS</value></property>
  <property><name>fs.oss.provider.endpoint</name><value>ECS_ROLE</value></property>
  <property><name>fs.oss.provider.format</name><value>JSON</value></property>
  <property><name>fs.oss.bucket.{{ slr_bucket }}.endpoint</name><value>{{ oss_dls_endpoint }}</value></property>
{% endif %}
</configuration>
