[Unit]
Description=Apache Flink {{ flink_version }} TaskManager
After=network-online.target flink-jobmanager.service
Wants=network-online.target

[Service]
Type=simple
User=flink
Environment=JAVA_HOME=/usr/lib/jvm/java-17-openjdk
Environment=HADOOP_CONF_DIR=/opt/flink/conf/hadoop
Environment=FLINK_ENV_JAVA_OPTS=-Dfile.encoding=UTF-8
ExecStart=/opt/flink/bin/taskmanager.sh start-foreground
Restart=on-failure
RestartSec=10
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
