[
  {
    "id": "slr-dashscope-auth",
    "name": "DashScope",
    "type": "httpHeaderAuth",
    "data": {
      "name": "Authorization",
      "value": "Bearer {{ vault_dashscope_api_key }}"
    }
  }
]
